* {
    box-sizing: border-box;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/04/09/08/34/the-alps-3303447_960_720.jpg");
    background-size: cover;
}

header {
    /* border: 1px solid yellow; */
    color: #4e4c4c;
    text-shadow: 5px 10px 15px white; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    text-align: center;
    /* margin-bottom: 1%; */
}

/* #timer {
    border: 5px solid black;
    height: 50px;
    width: 125px;
    position: absolute;
    right: 100px;
} */

#game {
    /* border: 3px solid yellow; */
    width: 50%;
    margin-left: 35%;
    padding: 2%;
}

#number-to-match {
    color: #4e4c4c;
    text-shadow: 5px 10px 15px white; 
    width: 47%;
    text-align: center;
    /* border: 1px solid orange; */
    margin-left: 25%;
    margin-bottom: 3%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}

#wins-losses-score {
    color: #4e4c4c;
    text-shadow: 5px 10px 15px white; 
    position: relative;
    /* border: 1px solid red; */
    padding: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    padding-left: 5%;
    margin-bottom: 3%;
}

#snowflake-images {
    margin-left: 10%;
    margin-bottom: 4%;
    /* border: 1px solid black; */
    padding-left: 5%;   
}

img {
    /* border: 1px solid black; */
    margin-left: 4%;
    width: 120px;
    height: 120px;
    box-shadow: 5px 10px 18px #4e4c4c;
}

#score {
    /* border: 1px solid white; */
    position: absolute;
    right: 30px;
    bottom: 20px;
}

button {
    /* border: 1px solid black; */
    width: 50%;
    margin-left: 28%;
    padding: 1%;
    background: linear-gradient(to right, rgb(147, 179, 247) , rgb(204, 117, 255));
    color: white;
    box-shadow: 5px 10px 18px #4e4c4c;
}

@media only screen and (max-width: 1200px) {

    #game {
        width: 50%;
        margin-left: 35%;
    }

    #number-to-match {
        width: 60%;
        font-size: 1.25em;
        margin-left: 20%;
    }
    
    #wins-losses-score {
        font-size: 1.10em;
    }
    
    img {
        width: 100px;
        height: 100px;
    }

    #snowflake-images {
        margin-left: 2%;
    }
    
    button {
        margin-left: 30%;
    }
}

@media only screen and (max-width: 992px) {

    body {
        background-size: cover;
        background-repeat: no-repeat;
    }

    header {
        font-size: 2.5em;
    }

    #game {
        width: 65%;
        margin-left: 30%;
    } 
    
    img {
        width: 90px;
        height: 90px;
    }

    #snowflake-images {
        margin-left: 10%;
    }

    button {
        margin-left: 25%;
        padding: .25%;
    }
}

@media only screen and (max-width: 768px) {

    body {
        background-size: inherit;   
    }

    #game {
        width: 90%;
        margin-left: 5%;
    } 
    
    img {
        width: 70px;
        height: 70px;
    }

    #wins-losses-score {
        font-size: 1em;
        margin-bottom: 3%;
    }

    #wins-losses {
        /* position: absolute; */
        /* right: 150px; */
        /* top: 30px; */
        margin-left: 30%;
    }

    /* #score {
        right: 50px;
        bottom: 5px;
    } */

    #snowflake-images {
        margin-top: 3%;
        margin-left: 40%;
        /* padding-left: 35%; */
    }

    button {
        margin-left: 50%;
    }
}

@media only screen and (max-width: 600px) {

    body {
        background-size: inherit;        
    }

    header {
        width: 100%;
    }

    #game {
        width: 100%;
        margin-left: 0%;
    }

    #number-to-match {
        margin-left: 30%;
        margin-bottom: 5%;
    }

    #score {
        font-size: 1.10em;
        right: 55px;
    }

    #wins-losses {
        position: absolute;
        font-size: 1.10em;
        right: 175px;
    }

    img {
        width: 70px;
        height: 70px;
    }

    #snowflake-images {
        margin-top: 10%;
        margin-left: 25%;
    }

    button {
        margin-left: 35%;
    }

    #wins-losses-score {
        position: relative;
        /* margin-right: 2%; */
        /* font-size: .78em; */
    }
}