body {
    /* background: black; */
    background-image: url("https://cdn.pixabay.com/photo/2018/04/09/08/34/the-alps-3303447_960_720.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
}

header {
    /* border: 1px solid yellow; */
    color: #4e4c4c;
    text-shadow: 5px 10px 15px white; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    text-align: center;
    /* margin-bottom: 1%; */
}

#game {
    /* border: 3px solid yellow; */
    width: 50%;
    margin-left: 35%;
    padding: 2%;
}

#how-to-play {
    text-align: center;
    color: white;
    font-weight: 800;
    background: rgba(51, 99, 255, 0.7);
    /* opacity: 0.4; */
    /* border: 1px solid white; */
    width: 50%;
    margin-top: 2%;
    margin-left: 45%;
}

#number-to-match {
    color: #4e4c4c;
    text-shadow: 5px 10px 15px white; 
    width: 47%;
    text-align: center;
    /* border: 1px solid orange; */
    margin-left: 25%;
    margin-bottom: 3%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.35em;
    
}

#wins-losses-score {
    color: #4e4c4c;
    text-shadow: 5px 10px 15px white; 
    position: relative;
    /* border: 1px solid red; */
    padding: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25em;
    padding-left: 5%;
    margin-bottom: 3%;
}

#snowflake-images {
    margin-left: 10%;
    margin-bottom: 4%;
}

#snowflake-1, #snowflake-2, #snowflake-3, #snowflake-4 {
    /* border: 1px solid black; */
    margin-left: 4%;
    width: 90px;
    height: 90px;
    box-shadow: 5px 10px 18px #4e4c4c;
}

/* #img-2 {
    border: 1px solid blue;
}

#img-3 {
    border: 1px solid blue;
}

#img-4 {
    border: 1px solid blue;
} */

/* #total-score-heading {
    border: 1px solid blueviolet;
} */

#score {
    /* border: 1px solid white; */
    position: absolute;
    right: 30px;
    bottom: 20px;
}

button {
    /* border: 1px solid black; */
    margin-left: 28%;
    padding: .5%;
    background: linear-gradient(to right, rgb(147, 179, 247) , rgb(204, 117, 255));
    color: white;
    box-shadow: 5px 10px 18px #4e4c4c;
}

